<div class="center container" style="">
  <form id="mute" action="/mute" method="post">
    <input type="text" name="voice" placeholder="ENTER VOICE CHANNEL" value="{{voiceChannel}}">

  <!-- <a href="/mute" onclick="document.getElementById('form1').submit();"> -->
  <input type="image" name="submit" src="https://i.ytimg.com/vi/JPN5dUo0jKU/maxresdefault.jpg" border="0" alt="Submit"/>

  <!-- <img src="https://i.ytimg.com/vi/JPN5dUo0jKU/maxresdefault.jpg" -->
  </a>
  </form>
</div>
